<div class="container-fluid">
    <app-header></app-header>
</div>
<br>
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <table class="table table-bordered table-hover">
                <thead class="table-dark">
                    <tr>
                        <th>Sr no</th>
                        <th>Name</th>
                        <th>Department</th>
                        <th>Status</th>
                        <th>Creatated By</th>
                        <th>Creatated Date</th>
                        <th>Country</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of empData;index as i">
                        <td> {{i+1}} </td>
                        <td> {{item.name}} </td>
                        <td> {{item.department}} </td>
                        <td> <h4><span 
                            [ngClass]="{
                              'badge':true,
                              'rounded-pill':true,
                              'bg-success':item.status.toLowerCase()==='active',
                              'bg-warning':item.status.toLowerCase()==='inactive',
                              'bg-danger':item.status.toLowerCase()==='suspend'
                            }" >{{item.status}}</span>
                        </h4>  </td>
                        <td> {{item.createdby}} </td>
                        <td> {{item.createddtm | date:'dd-MM-yyyy'}} </td>
                        <td> {{item.country.cname}} </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
