<p>parent2 works!</p>

<h2>Date ::  {{dateReceived}} </h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Sr No</th>
            <th>Product name</th>
            <th>Product Price</th>
            <th>Product Qty</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of childArrObjData;index as i">
            <td> {{i+1}} </td>
            <td> {{item.name}} </td>
            <td>{{item.price}}</td>
            <td>{{item.qty}}</td>
        </tr>
    </tbody>
</table>

<hr>
<app-child2 (childArrObjEvent)="childArrObjData=$event"
        (childDateDataEvent)="dateReceived=$event"
></app-child2>